{% extends "base.html" %}

{% comment %} <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <main>
      <div>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Number</th>
              <th>Number of receipts</th>
            </tr>
          </thead>
          <tbody>
            {% for each in all_account_list.all %}
              <tr>
                <td>{{ each.name }}</td>
                <td>{{ each.number }}</td>
                <td>{{ each.receipts.count }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html> {% endcomment %}
{% block content %}
  <main>
    <div>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Number</th>
            <th>Number of receipts</th>
          </tr>
        </thead>
        <tbody>
          {% for each in all_account_list.all %}
            <tr>
              <td>{{ each.name }}</td>
              <td>{{ each.number }}</td>
              <td>{{ each.receipts.count }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </main>
{% endblock content %}
