{% extends "base.html" %}

{% comment %} <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <main>
      <h1>My Receipts</h1>
      <table>
        <thead>
          <tr>
            <th>Vendor</th>
            <th>Total</th>
            <th>Tax</th>
            <th>Date</th>
            <th>Category</th>
            <th>Account</th>
          </tr>
        </thead>
        <tbody>
          {% for each in all_receipts.all %}
            <tr>
              <td>{{ each.vendor }}</td>
              <td>{{ each.total }}</td>
              <td>{{ each.tax }}</td>
              <td>{{ each.date|date:"m/d/y" }}</td>
              <td>{{ each.category.name }}</td>
              <td>{{ each.account.name }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </main>
  </body>
</html> {% endcomment %}
{% block content %}
  <main>
    <h1>My Receipts</h1>
    <table>
      <thead>
        <tr>
          <th>Vendor</th>
          <th>Total</th>
          <th>Tax</th>
          <th>Date</th>
          <th>Category</th>
          <th>Account</th>
        </tr>
      </thead>
      <tbody>
        {% for each in all_receipts.all %}
          <tr>
            <td>{{ each.vendor }}</td>
            <td>{{ each.total }}</td>
            <td>{{ each.tax }}</td>
            <td>{{ each.date|date:"m/d/y" }}</td>
            <td>{{ each.category.name }}</td>
            <td>{{ each.account.name }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </main>
{% endblock content %}
